{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 280,
        "tabWidth": 20,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    }
  ]
}